<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MUTE</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="container">
      <div class="nav">
        <div class="logo"><span>M</span>UTE</div>
        <div class="navLinks">
          <ul>
            <li><a href="/"><span
                  class="material-symbols-outlined"
                >home</span></a></li>
            <li><a href="#conceptCont">ABOUT</a></li>
            <li><a href="/categories">CATEGORY</a></li>
            <li><a href="/contact">CONTACT US</a></li>
            <li><a href="/news">NEWS</a></li>
          </ul>
        </div>
        <div class="loginsignup">
          <div class="login"><a href="/login">LOGIN</a></div>
          <div class="signup"><a href="/signup">SIGNUP</a></div>
        </div>
      </div>
      <div class="welcome">
        <div class="welcomeContent">
          <div class="welConn1">
            <h1><span>Welcome</span>,to</h1>
            <h1>your music world.</h1>
            <br />
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
              <p>Necessitatibus illum qui adipisci dolorem sit debitis quod modi</p>
              voluptatem inventore, dolore soluta ea reprehenderit velit nobis!</p>
            <br />
            <br />
            <a href="/start">GET START</a>
          </div>
          <div class="welconn2">
            <img src="images/3danimatedmusic.gif" alt="" srcset="" />
          </div>
        </div>
      </div>
      <div class="unlaccess">
        <div class="unl1">
          <h1>Get Unlimited Access </h1>
          <h1>to our Millions of Songs</h1>
        </div>
        <div class="unl2">
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            <br />
            Consequatur quidem eaque aperiam, rerum molestiae ea pariatur
            <br />eveniet rem dolor hic temporibus consequuntur dignissimos quas
            <br />obcaecati error accusamus quisquam, dolorum non, quod ducimus
            <br />
            suscipit quam. Doloribus error, expedita dolores tempore
            <br />sapiente et voluptate ipsam reiciendis minima at aut quae
            praesentium nulla?</p>
          <br />
          <br />
          <br />
          <a href="#">Try Now</a>
        </div>
      </div>
      <div class="join">
        <img src="images/musicwave.png" alt="image" class="waveimg" />
        <div class="join1">
          <h1>How To Join</h1>
        </div>
        <div class="join2">
          <div class="step1">
            <h2>Create Account</h2>
            <br />
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.<br />
              Modi itaque amet, reiciendis possimus ipsa soluta tenetur
              <br />aliquid iure nemo vel.</p>
          </div>
          <div class="step2">
            <h2>Select Premium</h2>
            <br />
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.<br />
              Eum architecto impedit doloremque necessitatibus in porro<br
              />inventore id totam dolorum ipsum!</p>
          </div>
          <div class="step3">
            <h2>Enjoy Songs</h2>
            <br />
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.<br />
              Dolorem maxime harum, beatae ducimus maiores architecto
              <br />blanditiis autem ad perferendis ab?</p>
          </div>
        </div>
      </div>
      <div id="conceptCont">
        <div class="concept">
          <div class="conc1">
            <h1>Our Concept</h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.<br />
              Minus doloremque sapiente a sequi vero commodi nam
              <br />distinctio beatae laborum officia, expedita libero in
              voluptatibus
              <br />dolorem minima enim? Sint at, quasi temporibus incidunt
              <br />suscipit totam asperiores. Aut sequi rem provident ratione.<br
              />
              Hic corrupti voluptatem quisquam distinctio.</p>
          </div>
          <div class="conc2">
            <div class="lofi"><p>LOFI</p></div>
            <div class="romantic"><p>ROMANTIC</p></div>
            <div class="party"><p>PARTY</p></div>
            <div class="soul"><p>SOULFUL</p></div>
          </div>
        </div>
      </div>
      <footer>
        <div class="fot1">
          <h1><span>M</span>UTE</h1>
          <p>COPYRIGHT ©2024 ALL RIGHTS RESERVED</p>
          <div class="socialicon">
            <i class="fa-brands fa-instagram fa-beat"></i>
            <i class="fa-brands fa-twitter fa-beat"></i>
            <i class="fa-brands fa-youtube fa-beat"></i>
          </div>
        </div>
        <div class="fot2">
          <div class="about">
            <h3>About Us</h3>
            <p>Our Blogs</p>
            <p>Our Story</p>
            <p>Contact Us</p>
          </div>
          <div class="product">
            <h3>Products</h3>
            <p>Music</p>
            <p>Live Shows</p>
            <p>Custom Music</p>
          </div>
        </div>
      </footer>
    </div>
    <script src="script.js"></script>
  </body>
</html>
