<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="style2.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <div class="container">
        <div class="mainbox">
            <div class="box1">
                <div class="home-search">
                    <div class="home">
                        <img src="../Icons/home.svg" class="icon">
                        <p><b><a href="/"> Home</a></b></p>
                    </div>
                    <div class="search">
                        <img src="../Icons/search.svg" class="icon">
                        <p><b>Search</b></p>
                    </div>
                </div>
                <div class="song-library">
                    <div class="bar1">
                        <div class="library">
                            <img src="../Icons/library.svg" class="icon">
                            <p><b>Your library</b></p>
                        </div>
                        <div class="right-arrow">
                            <img src="../Icons/rightarrow.svg" class="icon">
                        </div>
                    </div>

                    <div class="bar2">
                        <div class="likedsong">
                            <div class="heart"><img src="../Icons/heart.svg" class="icons"></div>
                            <p><b>Liked songs</b></p>
                        </div>
                        <div class="playlist">
                            <div class="bookmark"><img src="../Icons/library.svg" class="icons"></div>
                            <p><b>Your playlist songs</b></p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- box second -->


            <div class="box2">
                <div class="navbar">
                    <div class="nav-left">
                        <div class="angle-left"><img src="../Icons/Aleft.svg" class="icon"></div>
                        <div class="angle-right"><img src="../Icons/Aright.svg" class="icon"></div>
                    </div>
                    <div class="nav-right">
                        <div class="signUp">SignUp</div>
                        <div class="login">Login</div>
                    </div>
                </div>

                <!-- song info  -->

                <div class="musicinfo">
                    <h2><i class="fa-solid fa-music" style="color: #fcfcfc;"></i>&nbsp Music for You</h2>
                    <div class="music-playlist">
                        <div class="playlist-1">
                            <div class="playlist-img">
                                <img src="../images/128Satranga.jpg">
                                <div class="play-symbol"><img src="../Icons/play.svg" class="icons">
                                </div>
                                <div class="song-title">
                                    <h2>Daily Mix</h2>
                                    <p>Arijit Singh,Prithm....</p>
                                </div>
                            </div>
                        </div>
                        <div class="playlist-1 sec" >
                            <div class="playlist-img">
                                <img src="../images/128Lutt.jpg">
                                <div class="play-symbol"><img src="../Icons/play.svg" class="icons">
                                </div>
                                <div class="song-title">
                                    <h2>Daily Mix</h2>
                                    <p>Atif Aslam,Prithm....</p>
                                </div>
                            </div>
                        </div>
                        <div class="playlist-1 sec">
                            <div class="playlist-img">
                                <img src="../images/img1.jpeg">
                                <div class="play-symbol"><img src="../Icons/play.svg" class="icons">
                                </div>
                                <div class="song-title">
                                    <h2>Daily Mix</h2>
                                    <p>Atif Aslam,Prithm....</p>
                                </div>
                            </div>
                        </div>
                        <div class="playlist-1 sec">
                            <div class="playlist-img">
                                <img src="../images/img2.jpeg">
                                <div class="play-symbol"><img src="../Icons/play.svg" class="icons">
                                </div>
                                <div class="song-title">
                                    <h2>Daily Mix</h2>
                                    <p>Atif Aslam,Prithm....</p>
                                </div>
                            </div>
                        </div>
                        <div class="playlist-1 sec">
                            <div class="playlist-img">
                                <img src="../images/img3.jpeg">
                                <div class="play-symbol"><img src="../Icons/play.svg" class="icons">
                                </div>
                                <div class="song-title">
                                    <h2>Daily Mix</h2>
                                    <p>Atif Aslam,Prithm....</p>
                                </div>
                            </div>
                        </div>



                    </div>

                    <h2><i class="fa-solid fa-music yourmix" style="color: #fcfcfc;"></i>&nbsp Your Mix</h2> 

                    <div class="musiclist-2">
                        <div class="playlist-1 sec">
                            <div class="playlist-img">
                                <img src="../images/128Lutt.jpg">
                                <div class="play-symbol"><img src="../Icons/play.svg" class="icons">
                                </div>
                                <div class="song-title">
                                    <h2>Daily Mix</h2>
                                    <p>Atif Aslam,Prithm....</p>
                                </div>
                            </div>
                        </div>
                        <div class="playlist-1 sec">
                            <div class="playlist-img">
                                <img src="../images/img4.jpeg">
                                <div class="play-symbol"><img src="../Icons/play.svg" class="icons">
                                </div>
                                <div class="song-title">
                                    <h2>Daily Mix</h2>
                                    <p>Atif Aslam,Prithm....</p>
                                </div>
                            </div>
                        </div>
                        <div class="playlist-1 sec">
                            <div class="playlist-img">
                                <img src="../images/img2.jpeg">
                                <div class="play-symbol"><img src="../Icons/play.svg" class="icons">
                                </div>
                                <div class="song-title">
                                    <h2>Daily Mix</h2>
                                    <p>Atif Aslam,Prithm....</p>
                                </div>
                            </div>
                        </div>
                        <div class="playlist-1 sec">
                            <div class="playlist-img">
                                <img src="../images/128Satranga.jpg">
                                <div class="play-symbol"><img src="../Icons/play.svg" class="icons">
                                </div>
                                <div class="song-title">
                                    <h2>Daily Mix</h2>
                                    <p>Atif Aslam,Prithm....</p>
                                </div>
                            </div>
                        </div>
                        <div class="playlist-1 sec">
                            <div class="playlist-img">
                                <img src="../images/img3.jpeg">
                                <div class="play-symbol"><img src="../Icons/play.svg" class="icons">
                                </div>
                                <div class="song-title">
                                    <h2>Daily Mix</h2>
                                    <p>Atif Aslam,Prithm....</p>
                                </div>
                            </div>
                        </div>
                        <div class="playlist-1 sec">
                            <div class="playlist-img">
                                <img src="../images/img1.jpeg">
                                <div class="play-symbol"><img src="../Icons/play.svg" class="icons">
                                </div>
                                <div class="song-title">
                                    <h2>Daily Mix</h2>
                                    <p>Atif Aslam,Prithm....</p>
                                </div>
                            </div>
                        </div>
                        <div class="playlist-1 sec">
                            <div class="playlist-img">
                                <img src="../images/img2.jpeg">
                                <div class="play-symbol"><img src="../Icons/play.svg" class="icons">
                                </div>
                                <div class="song-title">
                                    <h2>Daily Mix</h2>
                                    <p>Atif Aslam,Prithm....</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="space"><br></div>
                </div>

                
            </div>

            <!-- playbar -->

            
            <div class="playbar">
                <div class="title">
                    <div class="title-img"></div> &nbsp &nbsp &nbsp
                    <p class="song-title">song 1</p>
                </div>
                <div class="song-duration">
                    <div class="music-controls">
                        <i class="fa-solid fa-backward-step prev-track" style="color: #ffffff;" onclick="prevTrack()"></i>
                        <div><i class="fa-solid fa-play playpause" style="color: #000000;" onclick="playpauseTrack()"></i></div>
                        <i class="fa-solid fa-forward-step next-track" style="color: #ffffff;" onclick="nextTrack()"></i>
                    </div>
                    <div class="duration">
                   <span class="current-duration">00:00</span> &nbsp &nbsp<input type="range" min="1" max="100" class="song-time" onchange="seekTo()"> &nbsp &nbsp<span class="total-duration">00:00</span>
                   </div>
                </div>
                <div class="volumebar">
                    <i class="fa-solid fa-volume-high" style="color: #ffffff;"></i>
                    <input type="range" value="100" class="volume-control">
                </div>
            </div>

        </div>

        <script src="script.js" async defer></script>
</body>

</html>